body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.Container {

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 7px;
    height: 350px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
    background-color: cadetblue;
    border-radius: 10px;
    background-image: linear-gradient(to left);

}
.output {
    grid-column: 1 / span 5;
    background-color: rgb(130, 114, 144);
    text-align: right;
    padding: 15px;
    font-size: 24px;
    margin-bottom: 10px;
}
.clear-btn {
    grid-column: 1 / span 2;
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
}
.eql-btn {
    grid-column: 3 / span 3;
    background-color: chartreuse;
    color: blue;
    border-radius: 10px;
}
.btn {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    
}